{% extends 'base.html.twig' %}

{% block titreStage %}Ajouter une formation{% endblock %}

{% block contenuSupp %}

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('formation_index') }}">Revenir à la liste</a>
{% endblock %}
