{% extends 'base.html.twig' %}

{% block titre %}
<h3>ProStages | Ajouter une Entreprise</h3>
{% endblock %}

{% block titreStage %}
Formulaire
{% endblock %}

{% block contenuSupp %}
Oui
{% endblock %}
