<h1>Bienvenue sur la page d'accueil de ProStages</h1>

<ul>
  <li>
      <a href="{{path('ProStages_entreprises')}}">Filtré par Entreprises</a>
  </li>
  <li>
      <a href="{{path('ProStages_formations')}}">Filtré par Formations</a>
  </li>
</ul>
