{% extends 'base.html.twig' %}

{% block titre %}
<h3>ProStages | Accueil</h3>
{% endblock %}

{% block contenuSupp %}

<div class="card-deck">
  <div class="card">

    <div class="card-body">
      <h5 class="card-title"><a href="\stages\Développement d'IA">Développement d'IA</a></h5>
      <p class="card-text">Exakis Nelite, entité du groupe Magellan Partners, est le premier partenaire pure-player Microsoft indépendant en France avec l’ambition de devenir le premier partenaire Européen et en Afrique Francophone avec sa forte présence au Maroc.Nés du rapprochement de 2 leaders spécialistes de...</p>
    </div>
  </div>
  <div class="card">

    <div class="card-body">
      <h5 class="card-title"><a href="\stages\Développeur Web">Développeur Web</a></h5>
      <p class="card-text">En relation avec le gérant du magasin, la mission de ce stage est de rendre le site vitrine de l'entreprise "responsive" la rémunération est a discuter avec le stagiaire. Vous êtes intéressé(e) par cette opportunité de stage, merci de postuler rapidement depuis cette annonce</p>
    </div>
  </div>
  <div class="card">

    <div class="card-body">
      <h5 class="card-title"><a href="\stages\Robotique">Robotique</a></h5>
      <p class="card-text">Le domaine de la robotique mobile industrielle vous intéresse ? Vous souhaitez mettre en pratique des compétences et acquérir de l'expérience dans le domaine d'équipements robotisés ? Nos solutions de robot autonome intra-logistique répondent à une demande croissante de technologie en robotique et d’automatisation en France ainsi qu’à travers le reste du continent européen...</p>
    </div>
  </div>
  <div class="card">

    <div class="card-body">
      <h5 class="card-title"><a href="\stages\Domotique">Domotique</a></h5>
      <p class="card-text">Dans le cadre de sa campagne de stage, ArianeGroup recrute un Technicien / Ingénieur en Informatique outil domotique (H/F).Au sein de l'unité de production Préfal en charge du montage de sous-ensembles de grande taille (3-4m), nous vous confions le développement d'un moyen de supervision...</p>
    </div>
  </div>

</div>

{% endblock %}
