{% extends 'base.html.twig' %}

{% block titreStage %}Créer un nouveau stage{% endblock %}

{% block contenuSupp %}

    {{ include('stage/_form.html.twig') }}

      <a class="nav-link" href="{{path('ProStages_index') }}"><button type="submit" class="btn btn-primary">Retour à la liste</button></a>
{% endblock %}
